body {
    background-image: url(https://images.unsplash.com/photo-1496137665412-a7074251bff8?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1489&q=80);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.header {
    height: 150px;
    background-color: rgba(70, 16, 170, 0.527);
    font-size: 50px;
    color: white;
    text-align: center;
    line-height: 140px;
    margin-bottom: 30px;
}

.container {
    border: 2px solid black;
}

.row {
    background-color: whitesmoke;
}

.form-inline {
    padding-top: 5px;
    padding-right: 0px;
    margin-right: 0px;
}

#todaysWeather {
    margin-top: 20px;
    margin-left: 1px;
    line-break: normal;
}

#citySearch {
    text-align: center;
    justify-content: center;
}

p {
    font-weight: 500;
    text-align: center
}

#temp,
#humidity,
#wind,
#uv {
    text-align: left;
}

#fiveDayForecast {
    margin-top: 20px;
}